*{
    margin: 0;
    padding: 0;
}
.full-website{
    margin: auto;
    text-align: center;
    width: 1024px;
    float: ;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
/* header */
.header{
    padding: 30px 10px;
    background-color: #22c3a3;
    color: #fff;
}
.logo{
    width: 25%;
    float: left;
}
.logo h1{}
.menu{
    width: 70%;
    line-height: 30px;
    font-size: 25px;
    margin-left: 40%;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline-block;
    margin: 0 5px;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
}
/* slider */
.slider{
    background-image: url(https://i.ibb.co/k89ZGWH/header-bg01.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    color: #fff;
}
.slider h1{
    display: inline-block;
    margin-top: 150px;
    font-size: 50px;
}
.slider p{
    margin-top: 20px;
}
.slider a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-top: 40px;
    border: 3px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
/* service */
.Service{
    padding: 50px;
    border-bottom: 1px solid #22c3a3;
}
.service-text{
    margin-bottom: 50px;
}
.service-text h3{
    font-size: 30px;
    margin-bottom: 20px;
}
.service-text p{}
.service-item{
    width: 23%;
    float: left;
    margin: 0 1%;
}
.service-item i{
    font-size: 50px;
    margin-bottom: 30px;
    color: #22c3a3;
}
.service-item h1{
    margin-bottom: 20px;
    font-size: 25px;
}
.service-item p{}
/* about-section */
.about-section{
    padding: 50px 0;
}
.about-img{
    float: left;
    width: 40%;
}
.about-img img{
    height: auto;
    width: 400px;
}
.about-text{
    margin-left: 5%;
    float: right;
    width: 55%;
}
.text-1{
    text-align: justify;
}
.text-1 h4{
    margin: 15px 0;
}
.text-1 p{}
/* contact */
.contact{
    background-color: #f6f6f6;
    padding: 30px 0;
}
.contact-sub{
    max-width: 800px;
    margin: auto;
}
.contact-item{
    width: 25%;
    float: left;
    margin-right: 10%;
}
.contact-item:first-child{
    margin-left: 10%;
}
.contact-item:last-child{
    margin-right: 0;
}
.contact-item i{
    color: #22c3a3;
}
.contact-item p{}
/* social-menu */
.social-menu{
    background-color: #22c3a3;
    color: #fff;
    padding: 30px 0;
}
.social-menu ul{}
.social-menu ul li{
    display: inline-block;
    margin: 0 20px;
}
.social-menu ul li i{
    font-size: 40px;
}
/* footer */
.footer{
    background-color: #000;
    color: #434343;
    padding: 20px 0;
}
.footer p{}